.addProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 400px;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    background-color: rgb(65, 107, 100);
    width: 30%;
    border: solid;
    border-radius: 20px;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

.addProject label {
    color: rgb(182, 255, 182);
    font-weight: bold;
    margin: 30px;
    position: absolute;
    top: 0;
}

.nameInput {
    width: 70%;
    margin: 15px 10px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 16px;
    background-color: pink;
    border-style: none;
}

.colorSpan {
    display: flex;
    font-weight: bold;
    width: auto;
    margin: 15px 10px;
    font-size: 24px;
}

.color {
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid black;
}

.color::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid black;
}

.addProject button {
    font-size: 16px;
    margin: 30px 10px;
    width: 100px;
    background-color: orange;
    border-style: none;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
}

.addProject button:hover{
    background-color: rgb(255, 255, 50);
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .addProject {
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .addProject {
        transform: translate(-40%, -50%);
    }
    .nameInput {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .addProject {
        width: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    .addProject {
        height: 400px;
        width: 280px;
        transform: translate(-54%, -50%);
    }

    .nameInput {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .addProject {
       width: 240px;
    }
}