.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 500px;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    background-color: rgb(14, 30, 78);
    width: 40%;
    border: solid;
    border-radius: 20px;
    font-size: 24px;
}

.editForm label {
    color: pink;
    font-weight: bold;
    margin: 30px;
}

.editForm input {
    width: 70%;
    margin: 15px 10px;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 16px;
    background-color: pink;
    border-style: none;
}

.editForm input[type=date] {
    padding: 8.5px 10px;
}

#checkBox {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editForm button {
    font-size: 16px;
    margin: 20px 10px;
    width: 100px;
    background-color: orange;
    border-style: none;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
}

.editForm button:hover{
    background-color: rgb(255, 255, 50);
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .editForm {
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .editForm {
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 991px) {
    .editForm {
        width: 50%;
        transform: translate(-45%, -50%);
    }
}

@media (max-width: 480px) {
    .editForm {
        height: 500px;
        width: 280px;
        transform: translate(-54%, -50%);
    }
}

@media (max-width: 320px) {
    .editForm {
       width: 240px;
    }
}