#panel {
    /* display: flex;
    flex-direction: column; */
    /* flex-grow: 1; */
    position: relative;
    width: 100%;
    font-family: 'Poppins', 'Arial', sans-serif;
    padding: 0 20px;
    /* margin-right: 20px; */
    font-size: 32px;
    justify-content: center;
}

.header {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    height: 100px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 10px; */
    background-color: #0171d3;
    border-radius: 10px;
}

.header button {
    height: 64px;
    width: 64px;
    padding: 0;
    text-align: center;
}

.main {
    /* display: flex;
    flex-direction: column; */
    /* background-color: rgba(181, 43, 11, 0.5);
    margin: 20px 0;
    border-radius: 10px; */
    width: auto;
    font-size: 28px;
}

.dashboardAdd{
    cursor: pointer;
    color: white;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dashboardAdd:hover{
    color: white;
}

@media (max-width: 1600px) {
    .main {
        font-size: 28px;
    }
}

@media (max-width: 1280px) {
    .header {
        width: auto;
        word-break: break-all;
    }

    .main {
        width: auto;
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .header {
        width: auto;
        word-break: break-all;
    }

    .main {
        width: auto;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #panel {
        font-size: 16px;
        padding: 0 10px;
    }

    .header {
        width: auto;
        height: 50px;
        word-break: break-all;
    }

    .main {
        width: auto;
        font-size: 12px;
    }
}
